
/* CONTAINER MAIN */

.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(153, 121, 78);
}

/* NAVBAR USER */

.navbar{
    display: flex;
    flex-direction: row-reverse;
    height: 20%;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
}


.search{
    width: 20%;
    height: 100%;
    background-color: red;
}


.chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}



