.myProfile-section {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: var(--black-bgc);
    width: 20%;
    color: aliceblue;
    padding: 6px;
}

/* MI FOTO DE PERFIL */

.myProfile-image{
    width: 40px;

}
.myProfile-image img{
    width: 100%;
    border-radius: 50%;
}


/* DIV NOMBRE Y SALDO */
.myProfile-box{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.nombre-y-saldo {
    display: flex;
    flex-direction: row;
}

/* SALDO */
.myProfile-saldo{
    position: relative;
    bottom: 3px;
    margin-left: 10px;
}
.myProfile-saldo span{
    font-size: 10px;
}

/* NOMBRE */
.myProfile-nombre span{
    font-size: 14px;
}

/* ESTABLECER ESTADO */
.myProfile-status{
    top: 25px;
    left: 60px;
}

.myProfile-status span{
    font-size: 10px;
}

/* BOTON DE OPCIONES */
.myProfile-options{
    position: absolute;
    right: 5px;
    top: 20px;
}

.myProfile-options i{
    font-size: 16px ;
}




.profile-dropdown {
    position: absolute;
    top: 100%; /* Ajustar para que aparezca justo debajo del nombre o la imagen */
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    padding: 10px;
    z-index: 10;
}

.profile-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.profile-dropdown ul li {
    margin-bottom: 10px;
}

.profile-dropdown ul li button {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 16px;
}

.profile-dropdown ul li button:hover {
    color: #007bff;
}
