




/* MOBILE RESPONSIVE */

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        height: 100%;
    }

    .search {
        width: 100%;
        height: 40%;
    }

    .chat {
        width: 100%;
        height: 60%;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
}


@media (max-width: 480px) {
    .message-list-box, .message-list {
        padding: 5px;
    }

    .emisor {
        font-size: 12px;
    }

    .box-img img {
        width: 30px;
        height: 30px;
    }

    .input-box {
        width: 100%;
        padding: 10px;
    }

    .chat-list-user {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px;
    }
    .btn-action{
        display: none;
    }

    /* PROFILE SECTION */
    .myProfile-section {
        display: flex;
        flex-direction: row;
        padding: 6px;
        width: 100%;
    }
    .navbar {
        display: none;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }
    .navbar-user-box{
        display: none;
    }
    .message-list {
        height: 80vh;
    }
}



